body{
    color: #C3073F;
    background-color: #1A1A1D;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

/*Header Classes*/
#header-main{
    position:fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0;
    left: 0;
}

#header{
    position: relative;
    display: flex;
    width: 100%;
    background-color: #C3073F;
    padding: 20px;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}

#title{
    margin-left: 40px;
}

.nav-link{
    color: white;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

nav > ul {
    font-weight: bold;
    margin-right: 100px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    list-style-type: none;
}

#html-header{
    position: absolute;
    height: 25%;
    width: 100%;
    background-color: rgba(149, 7, 64, 1);
    padding: 20px;
    top: 100%;
    left: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}

#css-header{
    position: absolute;
    height: 25%;
    width: 100%;
    background-color: rgba(149, 7, 64, 1);
    padding: 20px;
    top: 100%;
    left: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}


/*Page Classes*/
.page-title{
    margin-left: 20px;
}


.show {
    display: flex;
}

.hide{
    display: none;
}

.buffer{
    height: 15vh;
}

.intro{
    font-size: 20px;
    color: white;
    background-color: rgba(149, 7, 64, 1);
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: auto;
    border-radius: 5px;
}

.main-ul{
    border-style: solid;
    border-width: 5px;
    border-color: #C3073F/*#6f2232*/;
    border-radius: 5px;
    margin: 10px;
}

.main-li{ /*add main li so header li not affected*/
    font-size: 30px;
    line-height: 45px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.li-dark{
    color: rgba(149, 7, 64, 1);
}