body{
    color: #C3073F;
    text-shadow: 0px 4px rgba(149, 7, 64, 1);
    background-color: #1A1A1D;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.idk {
    background-color: #1A1A1D;
}

.code{
    color: #1A1A1D;
    text-shadow: none;
    transition: color 0.3s ease-out;
}

.idk:hover .code{
    color: #C3073F;

}

.title-button{
    padding: 0px;
    margin: 0px;
    background: #1A1A1D;
    color: #C3073F;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-shadow: 0px 4px rgba(149, 7, 64, 1);
    border: none;
}
